<div data-viewid="comment" data-root="" class="cont_evaluation  ">
    <h3 class="tit_subject">후기 작성</h3>
    <div class="evaluation_place">
        <form action="comment/register/{[post.id}}" method="POST">
            {% csrf_token %}

                <div class="write_review">
                    <textarea name="contents" id="tfReview2" class="tf_review"></textarea>
                </div>
            <div class="agree_review">
                                    <span class="num_letter txt_len_warp">
                                        <span class="screen_out">등록한 글자수: </span>
                                        <span class="txt_len">0</span>
                                        <span class="num_total"> / 2000</span>
                                    </span>
                <button type="submit" method="POST" class="btn_enroll">등록</button>

            </div>
        </form>
    </div>
</div>