<div data-viewid="comment" data-root="" class="cont_evaluation  ">
    <h3 class="tit_subject">후기 작성</h3>
    <div class="evaluation_place">
        <!-- 텍스트 필드에 포커스 일때 클래스 write_on 추가 -->
        <form id="commentUpdateForm" method="post" data-commentid="">
            <fieldset>
                <input type="hidden" name="point" value="">
                <div class="grade_star">
                    <span class="ico_star star_rate">
                        <span class="ico_star inner_star" style="width:0%"></span>
                    </span>
                    <em class="num_rate">0/5</em>
                    <span class="txt_word">후기를 남겨주세요</span>
                </div>
                <div class="write_review">
                    <label for="tfReview" class="lab_review">
                        작성한 후기는 장소와 마이페이지에 공개되며 매장주를 포함한 다른 사용자가 볼 수 있으니, 서로를 배려하는 마음을 담아 작성해 주세요.
                    </label>
                    <textarea name="contents" id="tfReview2" class="tf_review"></textarea>
                </div>
            </fieldset>
        </form>
        <div class="upload_photo hide">
            <strong class="screen_out">첨부된 사진 목록</strong>
            <form id="imgUploadForm" action="https://place.map.kakao.com/commentphoto/upload" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="pidx">
                <span class="thumb_upload box_upload">
                    <label for="imgUpload2" class="lab_upload">사진 등록하기</label>
                    <input type="file" id="imgUpload2" name="upphoto" class="inp_upload" accept="image/jpeg, image/png">
                    <span class="ico_comm ico_upload"></span>
                </span>
            </form>
        </div>
        <div class="agree_review">
            <!--
            <span class="choice_mapdetail agree_checked"> 선택 되었을 때 클래스 agree_chacked ->
                <input id="mapChoice2" class="inp_choice" type="checkbox" checked="checked">
                <label for="mapChoice2" class="lab_agree">
                    <span class="ico_comm ico_choice"></span> 선택 되었을 때 클래스 ico_focused 추가 ->
                    작성된 평점 및 후기글이 카카오맵에 노출됩니다.
                </label>
            </span>
            -->
            <form method="POST" >
                {% csrf_token %}
            <span class="num_letter txt_len_warp"><span class="screen_out">등록한 글자수: </span><span class="txt_len">0</span><span class="num_total"> / 2000</span></span>
            <button type="submit" class="btn_enroll" method="POST">등록</button>
                </form>
        </div>
    </div>
    <strong class="total_evaluation">전체 <span class="color_b">34</span></strong>
    <div class="ahead_info">
        <strong class="screen_out">후기 요약</strong>
        <div class="grade_star">
            <em class="num_rate">4.4<span class="txt_score">점</span></em>
        <span class="ico_star star_rate"><span class="ico_star inner_star" style="width:88%"></span></span>
        </div>
    </div>
    <div class="evaluation_review">
        <strong class="screen_out">후기 리스트</strong>
        <ul class="list_evaluation">
                    <li data-id="4850953" class="" data-is-block="false">
                        <!-- 2018-07-23 profile_info 추가 시작 -->
                        <a href="javascript:void(0);" class="profile_info" data-ismy="false" data-userid="ggphir" data-username="tricky coffee lover" data-ori="http://t1.daumcdn.net/local/kakaomapPhoto/profile/5752faf76013c005d53126aba76250e1c528d351?original">
                                <img src="./폼앤노말 _ 카카오맵_files/saved_resource" width="48" height="48" class="thumb_g" alt="" onerror="this.style.display=&#39;none&#39;">

                                <span class="ico_comm"></span>
                        </a>
                        <div class="star_info">
                            <div class="grade_star size_s">
                                <span class="ico_star star_rate"><span class="ico_star inner_star" style="width:80%;"></span></span>
                                <em class="num_rate">4<span class="screen_out">점</span></em>
                            </div>
                        </div>
                        <!-- // 2018-07-23 profile_info 추가 끝 -->
                            <a href="https://place.map.kakao.com/1168065433#none" data-basis="4850953" data-type="kakaomapcomment" class="link_photo" data-logtarget="" data-logevent="point,list,image">
                                <img src="./폼앤노말 _ 카카오맵_files/saved_resource(1)" width="78" height="78" class="img_profile" alt="포토뷰어">
                                <span class="frame_photo"></span>
                                <span class="mark_photo"><span class="screen_out">갯수 : </span>6</span>
                                <span class="frame_blind"></span>
                            </a>

                        <div class="comment_info">
                                <p class="txt_comment "><span>아무리 카페가 예뻐도 커피가 맛이 없으면 의미가 없다고 생각하는데 맛도 좋아요. 귀리우유옵션이 있는 것도 마음에 들구요! 2층은 1층보단 덜 예쁘지만 구획이 나눠져 있어서 이용이 편해요. 자주 오게 될 것 같아요.</span><button type="button" class="btn_fold">더보기</button></p>
                                <div class="append_item">
                                        <a href="https://place.map.kakao.com/1168065433#none" class="link_like " data-logtarget="" data-logevent="point,list,good">
                                            <!-- like_on 클래스 추가시 아이콘 변경 -->
                                            <span class="ico_comm ico_like"></span> 좋아요 <span class="num_g" style="display:none;">0</span>
                                        </a>
                                        <span class="bg_bar"></span>

                                                <em class="screen_out">작성자 : </em><a class="link_user" href="javascript:void(0);" data-ismy="false" data-userid="ggphir" data-username="tricky coffee lover" data-ori="http://t1.daumcdn.net/local/kakaomapPhoto/profile/5752faf76013c005d53126aba76250e1c528d351?original">tricky coffee lover</a>
                                                <span class="bg_bar"></span>

                                    <em class="screen_out">작성일 : </em><span class="time_write">2022.01.07.</span>
                                        <span class="bg_bar"></span>
                                        <a href="javascript:void(0);" data-id="spamLink" data-commentid="4850953" class="link_function" target="popup" data-logtarget="" data-logevent="point,list,report">
                                            신고
                                        </a>
                                </div>
                        </div>
                    </li>
                    <li data-id="4837283" class="" data-is-block="false">
                        <!-- 2018-07-23 profile_info 추가 시작 -->
                        <a href="javascript:void(0);" class="profile_info" data-ismy="false" data-userid="7kmiu8" data-username="SJ" data-ori="http://t1.daumcdn.net/local/kakaomapPhoto/profile/373478425500c184ba7f6f5dd89efc8091923be0?original">
                                <img src="./폼앤노말 _ 카카오맵_files/saved_resource(2)" width="48" height="48" class="thumb_g" alt="" onerror="this.style.display=&#39;none&#39;">

                                <span class="ico_comm"></span>
                        </a>
                        <div class="star_info">
                            <div class="grade_star size_s">
                                <span class="ico_star star_rate"><span class="ico_star inner_star" style="width:100%;"></span></span>
                                <em class="num_rate">5<span class="screen_out">점</span></em>
                            </div>
                        </div>
                        <!-- // 2018-07-23 profile_info 추가 끝 -->

                        <div class="comment_info">
                                <p class="txt_comment "><span>사장님의 취향과 방향성이 확실하고 그게 나와 통한다면 아마 이만한 카페 찾기 드물지 않을까 싶은 곳 맛 분위기 서비스 모두 최고</span><button type="button" class="btn_fold">더보기</button></p>
                                <div class="append_item">
                                        <a href="https://place.map.kakao.com/1168065433#none" class="link_like " data-logtarget="" data-logevent="point,list,good">
                                            <!-- like_on 클래스 추가시 아이콘 변경 -->
                                            <span class="ico_comm ico_like"></span> 좋아요 <span class="num_g" style="display:none;">0</span>
                                        </a>
                                        <span class="bg_bar"></span>

                                                <em class="screen_out">작성자 : </em><a class="link_user" href="javascript:void(0);" data-ismy="false" data-userid="7kmiu8" data-username="SJ" data-ori="http://t1.daumcdn.net/local/kakaomapPhoto/profile/373478425500c184ba7f6f5dd89efc8091923be0?original">SJ</a>
                                                <span class="bg_bar"></span>

                                    <em class="screen_out">작성일 : </em><span class="time_write">2022.01.04.</span>
                                        <span class="bg_bar"></span>
                                        <a href="javascript:void(0);" data-id="spamLink" data-commentid="4837283" class="link_function" target="popup" data-logtarget="" data-logevent="point,list,report">
                                            신고
                                        </a>
                                </div>
                        </div>
                    </li>
                    <li data-id="4767543" class="" data-is-block="false">
                        <!-- 2018-07-23 profile_info 추가 시작 -->
                        <a href="javascript:void(0);" class="profile_info" data-ismy="false" data-userid="1e9fgc2" data-username="ㅇㅅㅇ" data-ori="">

                                <span class="ico_comm"></span>
                        </a>
                        <div class="star_info">
                            <div class="grade_star size_s">
                                <span class="ico_star star_rate"><span class="ico_star inner_star" style="width:20%;"></span></span>
                                <em class="num_rate">1<span class="screen_out">점</span></em>
                            </div>
                        </div>
                        <!-- // 2018-07-23 profile_info 추가 끝 -->

                        <div class="comment_info">
                                <p class="txt_comment "><span></span><button type="button" class="btn_fold">더보기</button></p>
                                <div class="append_item">
                                        <a href="https://place.map.kakao.com/1168065433#none" class="link_like " data-logtarget="" data-logevent="point,list,good">
                                            <!-- like_on 클래스 추가시 아이콘 변경 -->
                                            <span class="ico_comm ico_like"></span> 좋아요 <span class="num_g" style="display:none;">0</span>
                                        </a>
                                        <span class="bg_bar"></span>

                                                <em class="screen_out">작성자 : </em><a class="link_user" href="javascript:void(0);" data-ismy="false" data-userid="1e9fgc2" data-username="ㅇㅅㅇ" data-ori="">ㅇㅅㅇ</a>
                                                <span class="bg_bar"></span>

                                    <em class="screen_out">작성일 : </em><span class="time_write">2021.12.29.</span>
                                        <span class="bg_bar"></span>
                                        <a href="javascript:void(0);" data-id="spamLink" data-commentid="4767543" class="link_function" target="popup" data-logtarget="" data-logevent="point,list,report">
                                            신고
                                        </a>
                                </div>
                        </div>
                    </li>
                    <li data-id="4784010" class="" data-is-block="false">
                        <!-- 2018-07-23 profile_info 추가 시작 -->
                        <a href="javascript:void(0);" class="profile_info" data-ismy="false" data-userid="1osla6c" data-username="이혀이" data-ori="">

                                <span class="ico_comm"></span>
                        </a>
                        <div class="star_info">
                            <div class="grade_star size_s">
                                <span class="ico_star star_rate"><span class="ico_star inner_star" style="width:80%;"></span></span>
                                <em class="num_rate">4<span class="screen_out">점</span></em>
                            </div>
                        </div>
                        <!-- // 2018-07-23 profile_info 추가 끝 -->

                        <div class="comment_info">
                                <p class="txt_comment "><span>굿굿</span><button type="button" class="btn_fold">더보기</button></p>
                                <div class="append_item">
                                        <a href="https://place.map.kakao.com/1168065433#none" class="link_like " data-logtarget="" data-logevent="point,list,good">
                                            <!-- like_on 클래스 추가시 아이콘 변경 -->
                                            <span class="ico_comm ico_like"></span> 좋아요 <span class="num_g" style="display:none;">0</span>
                                        </a>
                                        <span class="bg_bar"></span>

                                                <em class="screen_out">작성자 : </em><a class="link_user" href="javascript:void(0);" data-ismy="false" data-userid="1osla6c" data-username="이혀이" data-ori="">이혀이</a>
                                                <span class="bg_bar"></span>

                                    <em class="screen_out">작성일 : </em><span class="time_write">2021.12.24.</span>
                                        <span class="bg_bar"></span>
                                        <a href="javascript:void(0);" data-id="spamLink" data-commentid="4784010" class="link_function" target="popup" data-logtarget="" data-logevent="point,list,report">
                                            신고
                                        </a>
                                </div>
                        </div>
                    </li>
                    <li data-id="4770556" class="" data-is-block="false">
                        <!-- 2018-07-23 profile_info 추가 시작 -->
                        <a href="javascript:void(0);" class="profile_info" data-ismy="false" data-userid="7rnifq" data-username="태동 오동도 주장" data-ori="http://t1.daumcdn.net/local/kakaomapPhoto/profile/3a715204791a2d3f04b6759f705f91d0fd18f576?original">
                                <img src="./폼앤노말 _ 카카오맵_files/saved_resource(3)" width="48" height="48" class="thumb_g" alt="" onerror="this.style.display=&#39;none&#39;">

                                <span class="ico_comm"></span>
                        </a>
                        <div class="star_info">
                            <div class="grade_star size_s">
                                <span class="ico_star star_rate"><span class="ico_star inner_star" style="width:20%;"></span></span>
                                <em class="num_rate">1<span class="screen_out">점</span></em>
                            </div>
                        </div>
                        <!-- // 2018-07-23 profile_info 추가 끝 -->

                        <div class="comment_info">
                                <p class="txt_comment "><span>별로</span><button type="button" class="btn_fold">더보기</button></p>
                                <div class="append_item">
                                        <a href="https://place.map.kakao.com/1168065433#none" class="link_like " data-logtarget="" data-logevent="point,list,good">
                                            <!-- like_on 클래스 추가시 아이콘 변경 -->
                                            <span class="ico_comm ico_like"></span> 좋아요 <span class="num_g" style="display:none;">0</span>
                                        </a>
                                        <span class="bg_bar"></span>

                                                <em class="screen_out">작성자 : </em><a class="link_user" href="javascript:void(0);" data-ismy="false" data-userid="7rnifq" data-username="태동 오동도 주장" data-ori="http://t1.daumcdn.net/local/kakaomapPhoto/profile/3a715204791a2d3f04b6759f705f91d0fd18f576?original">태동 오동도 주장</a>
                                                <span class="bg_bar"></span>

                                    <em class="screen_out">작성일 : </em><span class="time_write">2021.12.21.</span>
                                        <span class="bg_bar"></span>
                                        <a href="javascript:void(0);" data-id="spamLink" data-commentid="4770556" class="link_function" target="popup" data-logtarget="" data-logevent="point,list,report">
                                            신고
                                        </a>
                                </div>
                        </div>
                    </li>
        </ul>
            <div class="paging_mapdetail">
                        <span class="screen_out">현재페이지</span>
                        <em class="link_page">1</em>
                        <a href="https://place.map.kakao.com/1168065433#none" class="link_page" data-page="2" data-logtarget="" data-logevent="point,page,page_number2">
                            2
                        </a>
                        <a href="https://place.map.kakao.com/1168065433#none" class="link_page" data-page="3" data-logtarget="" data-logevent="point,page,page_number3">
                            3
                        </a>
                        <a href="https://place.map.kakao.com/1168065433#none" class="link_page" data-page="4" data-logtarget="" data-logevent="point,page,page_number4">
                            4
                        </a>
                        <a href="https://place.map.kakao.com/1168065433#none" class="link_page" data-page="5" data-logtarget="" data-logevent="point,page,page_number5">
                            5
                        </a>
                    <a href="https://place.map.kakao.com/1168065433#none" class="btn_next" data-page="6" data-logtarget="" data-logevent="point,page,next">
                        다음<span class="ico_comm ico_next"></span>
                    </a>
            </div>
    </div>
</div>
