{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <table class="info no_menu">
            <tbody>
            <br>
            <br>
            <br>
            <br>
            <br>
            </tbody>
        </table>
        <!-- Contact Section Form-->
        <div class="form-floating mb-3">
            <div class="col-lg-8 col-xl-7">
                <form method='post'>
                    {% csrf_token %}
                    <div style="text-align: center;">
                    <br>
                    게시글 작성
                    <br>
                    <br>
                    가게 이름:
                    <input title="title" type="text">
                    <br><br>
                    가게 주소:
                    <input user_address="user_address" type="text">
                    <br><br>
                    가게 번호:
                    <input user_number="user_number" type="text">
                    <br><br>
                    가게 분류:
                    <input user_food="user_food" type="text">
                    <br><br>
                    소개 내용:
                    <input contents="contents" type="text">
                    <br><br>
                    메뉴 1:
                    <input menu_1="menu_1" type="text">&nbsp; &nbsp;
                    가격 1:
                    <input price_1="price_1" type="text">
                    <br>
                    메뉴 2:
                    <input menu_2="menu_2" type="text">&nbsp; &nbsp;
                    가격 2:
                    <input price_2="price_2" type="text">
                    <br>
                    메뉴 3:
                    <input menu_3="menu_3" type="text">&nbsp; &nbsp;
                    가격 3:
                    <input price_3="price_3" type="text">
                    <br>
                    메뉴 4:
                    <input menu_4="menu_4" type="text">&nbsp; &nbsp;
                    가격 4:
                    <input price_4="price_4" type="text">
                    <br>
                    메뉴 5:
                    <input menu_5="menu_5" type="text">&nbsp; &nbsp;
                    가격 5:
                    <input price_5="price_5" type="text">
                    <br>
                    사진 업로드:
                    <input price_5="price_5" type="file">

                        <input type="submit"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
{% endblock %}