{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<!-- Contact Section-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <table class="info
              no_menu
              ">
            <caption>레스토랑 상세 정보</caption>
            <tbody>
<br>
            <br>
            <br>
            <br>
            <br>
            </tbody>
        </table>
        <!-- Contact Section Form-->
        <div class="form-floating mb-3">
            <div class="col-lg-8 col-xl-7">
                <form method='post'>
                    {% csrf_token %}
                    title:
                    <input title="title" type="text">
                    <br>
                    address:
                    <input user_address="user_address" type="text">
                    <br>
                    phone number:
                    <input user_number="user_number" type="text">
                    <br>
                    food type:
                    <input user_food="user_food" type="text">
                    <br>
                    contents:
                    <input contents="contents" type="text">
                    <br>
                    menu_1:
                    <input menu_1="menu_1" type="text">
                    <br>
                    price_1:
                    <input price_1="price_1" type="text">
                    <br>
                    menu_2:
                    <input menu_2="menu_2" type="text">
                    <br>
                    price_2:
                    <input price_2="price_2" type="text">
                    <br>
                    menu_3:
                    <input menu_3="menu_3" type="text">
                    <br>
                    price_3:
                    <input price_3="price_3" type="text">
                    <br>
                    menu_4:
                    <input menu_4="menu_4" type="text">
                    <br>
                    price_4:
                    <input price_4="price_4" type="text">
                    <br>
                    menu_5:
                    <input menu_5="menu_5" type="text">
                    <br>
                    price_5:
                    <input price_5="price_5" type="text">
                    <br>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
{% endblock %}