{% extends 'layout/base.html' %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br><br><br><br><br>
<div class="box1" style="text-align: center;">
    <div style="text-align: center;">
        <h1>Success!!</h1>
        <h5>귀하의 이름과 이메일이 일치합니다.</h5>
        <br><br>
        <tr>
<td>
            <h1>ID/아이디: {{ user }}</h1>
</td></tr>

            <br>
            <br>
            <br>
        </form>
    </div>
</div>
<br><br><br><br>
{% endblock %}
