{% extends 'layout/base.html' %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<br><br><br><br><br><br>
<div class="span5">
    <div style="text-align: center;">
        <h1>ID 찾기</h1>
        <h4>이름과 이메일을 입력해 주세요.</h4>
        <br><br>
        <form method="POST" action="/user/find_id2">
            {% csrf_token %}
            이름:
            <br>
            <input name="username" type="text">
            <br>
            이메일:
            <br>
            <input name="email" type="text">
            <br><br>
            <input type="submit" class="btn btn-primary pull-right" value="ID/아이디 찾기">
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
