{% extends 'layout/base.html' %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h1>
    {{ print_results }}
</h1>
<br><br><br><br><br><br>
<div class="span3">
    <div style="text-align: center;">
        <h1>로그인</h1>
        <br><br>
        <form method="POST">
            {% csrf_token %}
            아이디:
            <br>
            <input name="username" type="text">
            <br>
            비밀번호:
            <br>
            <input name="password" type="password">
            <br><br>
            <input type="submit" class="btn btn-primary pull-right" value="로그인하기">
        </form>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
